@use "../../styles/partials/mixins";
@use "../../styles/partials/variables" as *;

.warehouse {
  width: 90%;
  margin: auto;
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px $divider-lines;
    margin-bottom: 1rem;
  }

  &__title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.edit {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: $instock-indigo;
  color: $instock-white;
  border-radius: 50px;
  border: solid $instock-indigo;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-top: solid 2px #bdc5d5;
}
