@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin in-stock {
  border-radius: 1rem;
  color: $label-instock;
  background-color: #eef6f4;
}

@mixin out-of-stock {
  border-radius: 1rem;
  color: $label-outofstock;
  background-color: #fbf3ee;
}
