@use "../partials/typography";

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea {
  font-family: "Titillium";
}

input {
  font-family: "Titillium";
}

select {
  font-family: "Titillium";
}

button {
  font-family: "Titillium";
}
