$instock-black: #13182c;
$instock-indigo: #2e66e5;
$instock-white: #ffffff;
$placeholder-text: #5c667e;
$divider-lines: #bdc5d5;
$nav-background: #232940;
$background-primary: #f7f8f9;
$label-instock: #158463;
$label-outofstock: #c94515;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
