@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-main {
  border-bottom: 1px $divider-lines solid;
  margin: 0 auto;

  @include tablet {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // padding-left: 2rem;
  }

  &:hover {
    background-color: rgb(240, 244, 253);
  }

  &__info-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;

    @include tablet {
      justify-content: space-evenly;
      width: 100%;
    }

    @include desktop {
      padding-right: 4rem;
    }
  }

  &__info-col {
    display: flex;
    flex-direction: column;
    width: 45%;

    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }
  }

  &__info-subheading {
    color: $placeholder-text;
    margin-bottom: 0.2rem;

    @include tablet {
      display: none;
    }
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  &__link {
    color: $instock-indigo;
  }

  &__info-item {
    font-size: 0.85rem;
    padding-bottom: 1rem;

    @include tablet {
      width: 50%;
      width: 25%;
    }
  }

  &__info {
    margin: 0;

    &--block {
      display: block;
    }
  }

  &__status {
    display: inline-block;
    padding: 0.15rem 0.5rem;
    font-weight: 600;

    @include tablet {
      width: 6.375rem;
      position: relative;
      right: 1.5rem;
      max-width: 6.375rem;
    }

    &--green {
      @include in-stock;
      text-align: center;
      min-width: 4.4406rem;
    }

    &--red {
      @include out-of-stock;
    }
  }

  &__icons-wrapper {
    margin: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include tablet {
      gap: 1rem;
    }
  }

  &__icon {
    width: 1.75rem;
    cursor: pointer;
  }

  &__edit-link {
    display: flex;
  }
}
